<!DOCTYPE html>
<html>
<head>
    <title>BLOG Content</title>
</head>
<body>
    <center>
        <h2>BlOG Content</h2>
    </center>
    <form action="/posts/add?page=1" method="post">
        <label for="postContent">Введите ваш пост:</label>
        <br>
        <textarea id="postContent" name="postContent" rows="4"></textarea>
        <br>
        <input type="submit" value="Отправить">
    </form>
    <h3>Лента постов:</h3>
  {{if .}}
   <ul>
       {{range .}}
           {{range .Content}}
               <li>{{.}}</li>
           {{end}}
       {{end}}
   </ul>
 {{else}}
   <p>Нет доступных постов.</p>
{{end}} 
<br>
<center>
    <a href="/">Перейти на главную страницу</a>
</center>

</body>
</html>
