<!DOCTYPE html>
<html>
    <head>
       <title>BLOG Content</title>
    </head>
    <body>
        <center>
            <h2>BlOG Content</h2>
        </center>
        <form action="/posts" method="post">
        <label>Введите ваш пост:</label>
        <br>
        <textarea id="postContent" name="postContent" rows="4"></textarea>
        <br>
        <input type="submit" value="Отправить">
        </form>
        <h3>Лента постов:</h3>
        <ul>
          {{if .Posts}}
            {{range .Posts}}
			<li>{{.}}</li>
			   {{end}}
        </ul>
    </body>
</html>
