<!DOCTYPE html>
<html>
<head>
    <title>BLOG Content</title>
</head>
<body>
    <center>
        <h2>BlOG Content</h2>
    </center>
    <form action="/posts/add" method="post">
        <label for="postContent">Введите ваш пост:</label>
        <br>
        <textarea id="postContent" name="postContent" rows="4"></textarea>
        <br>
        <input type="submit" value="Отправить">
    </form>
    <h3>Лента постов:</h3>
    {{if .Content}}
        <ul>
            {{range .Content}}
                <li>{{.}}</li>
            {{end}}
        </ul>
    {{else}}
        <p>Нет доступных постов.</p>
    {{end}}
</body>
</html>
