<!DOCTYPE html>
<html>
<head>
    <title>BLOG Content</title>
</head>
<body>
    <center>
        <h2>BlOG Content</h2>
    </center>
    <br>
    <center>
        <h3>Лента постов:</h3>
    </center>
    {{if .Posts}}
    <ul>
        {{range .Posts}}
            <li>{{.Content}}</li>
        {{end}}
    </ul>
    {{else}}
        <p>Нет доступных постов.</p>
    {{end}}
    <ul>
         <li>
            {{range .Pagination.TotalPages}}
                 {{if eq $.Pagination.CurrentPage . }}
                     {{.}}
                 {{else}}
                     <a href="/posts/list?page={{.}}">{{.}}</a>
                {{end}}
             {{end}}
          </li> 
    </ul>    
</body>
</html>
