<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG Content</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/static/css/style_head.css">
    <link rel="stylesheet" href="/static/css/style_posts.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">BLOG Content</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Пользователь
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/signin">Авторизация</a></li>
              <li><a class="dropdown-item" href="/signup">Регистрация</a></li>
            </ul>
          </li>
        </ul>
        <br>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Посты 
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/posts/list?page=1">Просмотр постов</a></li>
              <li><a class="dropdown-item" href="/posts/add">Создать пост</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <br>
    <center>
      <h3>Лента постов:</h3>
      <div class="posts-container">
        {{if .Posts}}
          {{range .Posts}}
            <div class="post">
              <div class="post-header">
                <strong>{{ .UserName }}</strong> 
              </div>
              <div class="post-body">
                {{ .Content }}
              </div>
              <div class="post-footer">
                <a href="#" class="like-button" post-id="{{ .PostId }}">Лайк</a>
                <span class="likes-count" id="likes-count-{{ .PostId }}">{{ .Likes }}</span>
              </div>
              <p>Комментарии</p>
              {{$postId := .PostId}}
              <div class="comments-container" id="comments-container-{{ $postId }}"></div>
              {{if .Comments}}
                {{range .Comments}}
                  <div class="comment-count-{{ $postId }}" id="comment-count-{{ $postId }}">
                    <strong>{{ .UserName }}</strong>: {{ .Comment }}
                
                    <a href="#" class="like-button-comment" comment-id="{{ .CommentId }}">Лайк</a>
                    <span class="likes-count-comment" id="likes-count-comment-{{ .CommentId }}">{{ .Likes }}</span>
                  </div>
                {{end}}
              {{else}}
                <p>Нет комментариев.</p>
              {{end}}
              <form>
                <label for="comment-{{ .PostId }}">Введите комментарий </label>
                <br>
                <input type="comment" id="comment-{{ .PostId }}" name="comment" required>
                <br>
                <a href="#" class="create-comment" post-id="{{ .PostId }}">Отправить</a> 
              </form>
            </div>
          {{end}}
        {{else}}
          <p>Нет доступных постов.</p>
        {{end}}
      </div>      
      <script>
        document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.like-button').forEach(button => {
        button.addEventListener('click', function(event) {
            event.preventDefault();
            const postId = this.getAttribute('post-id');
            const likesCountElement = document.getElementById('likes-count-' + postId);
            console.log(postId);
            fetch(`/posts/${postId}/like`, {
                method: 'POST',
            })
            .then(response => {
                if (response.ok) {
                    return response.json(); 
                }
                throw new Error('Network response was not ok.');
            })
            .then(data => {
                if (likesCountElement) {
                    likesCountElement.textContent = data.newLikesCount;
                }
            })
            .catch(error => {
                console.error('Ошибка при добавлении лайка:', error);
            });
        });
    });
});
      </script>
   <script>
document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.create-comment').forEach(button => {
        button.addEventListener('click', function(event) {
            event.preventDefault();
            const postId = this.getAttribute('post-id');

            const commentInput = document.getElementById('comment-' + postId);

            const commentText = commentInput.value;
 
       const commentsContainer = document.getElementById('comments-container-' + postId);


        

            console.log(postId, commentText);

            fetch(`/posts/${postId}/comment`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ comment: commentText }) 
            })
            .then(response => {
                if (response.ok) {
                    return response.json(); 
                    console.log(data)
                }
                throw new Error('Network response was not ok.');
            })
            .then(data => {
              
                commentInput.value = ''; 

                const newCommentDiv = document.createElement("div");
  
                newCommentDiv.innerHTML = `<strong>${data.userName}</strong>: ${data.comment} <span>Лайки: ${data.likes || 0}</span>`;
               commentsContainer.appendChild(newCommentDiv);
            })
            .catch(error => {
                console.error('Ошибка при добавлении комментария:', error);
            });
        });
    });
});
   </script>
         <script>
        document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.like-button-comment').forEach(button => {
        button.addEventListener('click', function(event) {
            event.preventDefault();
            const commentId = this.getAttribute('comment-id');
            const likesCountElement = document.getElementById('likes-count-comment-' + commentId);
            console.log(commentId);
            fetch(`/posts/${commentId}/comment/like`, {
                method: 'POST',
            })
            .then(response => {
              console.log('Ответ сервера:', response);
                if (response.ok) {
                    return response.json(); 
                }
                throw new Error('Network response was not ok.');
            })
            .then(data => {
                if (likesCountElement) {
                  console.log('Обновленное количество лайков:', data.newLikesCount);
                    likesCountElement.textContent = data.newLikesCount;
                } else {
                  console.error('Element for updating likes count not found');
                }
            })
            .catch(error => {
                console.error('Ошибка при добавлении лайка:', error);
            });
        });
    });
});
      </script>
  <ul>
      <li>
          {{range .Pagination.TotalPages}}
              {{if eq $.Pagination.CurrentPage .}}
                  <span>{{.}}</span> 
              {{else}}
                  <a href="/posts/list?page={{.}}">{{.}}</a>
              {{end}}
          {{end}}
      </li> 
  </ul>   
  </center>  
</body>
</html>